
@media(min-width: 1024px) {
/* PAGE LAYOUT */
  .main-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: min-content repeat(2, 1fr);
      grid-gap: 1rem;
      padding: 1rem;
      min-height: 100vh;
  }

  header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
  }

  /* PANEL SWAP LOGIC
  When inverse is applied:
  - change position
  - mantain shape
  - reverse element flow
  */

  .panel {
    display: flex;
    flex-flow: column nowrap;
  }

  .panel.inverse {
    flex-flow: column-reverse nowrap;
  }
  
  #panel-one {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  #panel-one.inverse {
    grid-column-start: 2;
  }

  #panel-two {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  #panel-two.inverse {
    grid-column-start: 3;
  }

  .commands {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }
  /* PANEL ELEMENTS */
  .split-area {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
  }

  .code-area {
    resize: none;
    flex-grow: 1;
    background-color: var(--code-background);
    color: #efe;
  }

  /* custom load button - supershabam [CODERWALL] */
  .load-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      cursor: pointer;
  }

  .load-btn, .save-btn {
      padding-top: 0.5rem;
      color: var(--light-font);
  }

  .load-btn {
      background-color: var(--info-color);

      position: relative;
      width: 100%;
      flex-basis: 2rem;
  } 
  .save-btn {
      background-color: var(--success-color)
  }

  /* PANEL ELEMENTS LOGIC 
  When inverse is not applied:
  - load and beautify buttons are visible
  - save is not
  When inverse is applied:
  - load and beautify buttons are hidden
  - save button is visible
  */
  .load-btn, .beauty-btn {
      display: block;
  }

  .save-btn {
    display: none;
  }

  .inverse > .load-btn,
  .inverse > .beauty-btn {
    display: none;
  }

  .inverse > .save-btn {
    display: block;
  }
}