/* BASIC RESET */
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background: none;
    border: 0;
    margin: 0;
    padding: 0.5rem 1rem;
}
/* PAGE LAYOUT */
.page-wrapper {
    display: grid;
    grid-template:  "header" 150px
                    "pane" auto
                    "cockpit" 100px
                    / auto;
    grid-gap: 1rem;
    padding: 1rem;
    min-height: 100vh;
}

.panel {
    display: flex;
    flex-flow: column nowrap;
    /* background-color: #ccc; 
    box-shadow: 2px 2px 5px #999 inset, 2px 2px 5px #999;
    padding: 1rem;*/
    font: 400 1rem Helvetica, sans-serif;
    text-align: center;
}

.panel:not(.active) {
    display: none;
}

.left-panel {
    grid-area: pane;
}

.right-panel {
    grid-area: pane;
}

.cockpit {
    grid-area: cockpit;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.code-area {
    resize: none;
    flex-grow: 1;
    box-shadow: 2px 2px 5px #999 inset, 2px 2px 5px #999;
}

.header {
    text-align: center;
    grid-area: header;
}

/* HEADER */
.title {
    margin-bottom: 1rem;
}

.toggle-btn {
    background-color: #bcb;
    margin: 1rem;
}

/* CUSTOM 'LOAD' BUTTON - supershabam [CODERWALL] */
.load-wrapper {
    position: relative;
    width: 100%;
    background-color: green;
    flex-basis: 2rem;
    padding-top: 0.5rem;
}

.load-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

/* COCKPIT */
fieldset {
    padding: 0.2rem 0.5rem;
    font: 600 0.6rem monospace;
}

fieldset > div {
    display: inline-block;
}

.legend {
    margin: 0 0.5rem;
}

.clear-btn {
    background-color: #aaa;
}

.convert-btn {
    border-radius: 10px;    
    background-color: #4468cc;
    color: #fef;
    font: 500 1.4rem Arial;
}

/* MEDIA QUERIES */
@media(min-width: 640px){
    .cockpit {
        flex-flow: row nowrap;
    }
}

@media(min-width: 1024px) {
    .page-wrapper {
        display: grid;
        grid-template:  "header header" 150px
                        "lpane rpane" 2fr
                        "cockpit rpane" 1fr
                        / 2fr 1fr;
    }

    .left-panel {
        grid-area: lpane;
    }

    .right-panel {
        grid-area: rpane;
    }
 
    .panel:not(.active) {
        display: flex;
    }
}